<% @articles.each do |article| %>
<p><%= link_to(article.title, article_path(article)) %>
<br>
<%= article.content %>
<br>
<%= link_to('<i class="fa-solid fa-trash"></i>'.html_safe, article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %>
</p>
<% end %>
<button type="button" class="btn btn-outline-primary"><%= link_to("Create new article", new_article_path) %></button>
